<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>About Four paws</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
================================================== 
    Company Description Section Start
================================================== -->
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                <%= image_tag('about-company.jpg', class: 'img-responsive') %>
                <!-- <img src="images/about-company.jpg" alt="" class="img-responsive"> -->
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Why We are Different</h3>
                    <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Do you spoil your fur baby a little too often? Do they struggle to get up the stairs or laze around more than they should? Are you short on time or lacking the know how? Let FOUR P<i class="ion-ios-paw-outline"></i>WS do the work for you and get your loved one loving life again.
                    </p>
                    <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                        Here at FOUR P<i class="ion-ios-paw-outline"></i>WS we believe in investing in your family's health and wellbeing- especially the furry members! After all, they are a big part of every family.
                    </p>
                    <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                        Currently, and sadly, there are very few services catered for overweight pets. There are countless dog walkers, sitters, groomers, trainers and even therapists, but when it comes to weightloss we are left with few options. 
                        Join FOUR P<i class="ion-ios-paw-outline"></i>WS and start making a difference.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- 
================================================== 
    Company Feature Section Start
================================================== -->
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s" style= "padding-bottom: 42px;">
                <h2>
                Sessions
                </h2>
                <p>
                    Sessions go for one hour with their very own perosnal trainer provided. Each session is perfectly adjusted to your pets abilities, and can be either morning or afternoon sessions to suit your needs. 
                    Dates depends on availability, weekend sessions available upon request.
                </p>
            </div>
            <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                <h2 class="item_title">
                Location
                </h2>
                <p>
                    Located on the Northern Beaches, we use your local parks, walking tracks, sports ovals or even beaches to keep your loved one enriched and comfortable. *Depending on your dogs socialbilty.
                </p>
            </div>
            <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                <h2 class="item_title">
                Transport
                </h2>
                <p>
                    Safe transport is provided to and from locations with the use of car harness or crate. If your companion isn't a fan of car rides we can stay close to home and find some locations by foot.
                </p>
            </div>
        </div>
    </div>
</section>



<!-- <section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="subtitle text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Our Happy Clinets</h2>
                <p class="subtitle-des text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                <div id="clients-logo" class="owl-carousel">
                    <div>
                        <img src="images/clients/logo-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-2.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-3.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-4.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-5.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-2.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-3.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-4.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/clients/logo-5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">What we offer</h3>
                    <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                       Here at FOUR P<i class="ion-ios-paw-outline"></i>WS we offer one on one exercise sessions along with an individually tailored diet plan to help your pudgy pet get back to their best. Using researched exercise methods and scientifically formulated diets FOUR P<i class="ion-ios-paw-outline"></i>WS is a new age company that promises to turn exercise into fun and results into reality.
                    </p>
                    <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                        We are not a dog walking service, but a personal trainer for your pet. We are one of the few companies that specifically focus on weight loss and diet. With over 9 years experience in the animal industry, your dog will always be in capable hands. And for those concerned parents you can follow us on <a href="http://www.instagram.com" target="_blank">Instagram</a> for daily updates and photos of your fur baby in action!
                    </p>
                    
                </div>
            </div>
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                <%= image_tag('about-company.jpg', class: 'img-responsive') %>
            </div>
        </div>
    </div>
</section>
<br>