<section id="hero-area" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                        <span>HI, MY NAME IS ABBY & I AM A</span><br>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">PET PT</b>
                            <b>VET NURSE</b>
                            <b>SHELTER COORDINATOR</b>
                        </span>
                        </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                            Welcome to FOUR P<i class="ion-ios-paw-outline"></i>WS fitness programs.
                        </h2>
                        <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#feature" data-section="#feature" >What we offer</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#main-slider-->
    <!--
    ==================================================
    Slider Section Start
    ================================================== -->
    <section id="about" style="padding-bottom: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h2>
                        ABOUT ME
                        </h2>
                        <p>
                            Hello, my name is Abby Ballantyne, I have been working in the animal industry for over 9 years- having started as a vet nurse and worked my way up to the shelter co-ordinator of the Animal Welfare leauge NSW Ingleside shelter.
                        </p>
                        <p>
                            I have an obvious passion for animals, their welfare and most importantly their health. I treat all of my clients as if they were my own and welcome them to join the FOUR P<i class="ion-ios-paw-outline"></i>WS family.
                        </p>
                    </div>
                    
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="http://fillmurray.com/300/300" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->
    
    <section id="feature">
        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">What we offer</h1>
                <p class="wow fadeInDown" data-wow-delay=".5s">
                    Here are just some of the features that we offer at Four Paws - fitness programs. <br> 
                    
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-person-stalker"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">One on one exercise programs</h4>
                            <p>With one on one sessions we can provide the best suited exercise program for your pet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-android-restaurant"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Tailored diet plans</h4>
                            <p>We have tailored diet plans formulated specifically to meet your dogs individual needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-clock"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">1 hour sessions</h4>
                            <p>We have 1 hour sessions, which can be either in the morning or evening to suit your needs. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-model-s"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Pick up and drop off service</h4>
                            <p>We'll come to you to save you the hassle and even drop your pet back home, safe and sound.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-location"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Use of local parks and beaches</h4>
                            <p>With many different dog parks and beaches, we will have plenty of options and variety to keep your pet happy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-social-instagram-outline"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Social media updates</h4>
                            <p>We post social media posts about how the session is going as well as cute photos of your pet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#feature -->
  