<section class="moduler wrapper_404">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >Coming soon...</h1>
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">We are currently working on membership plans</h2>
                    <p class="wow fadeInUp animated" data-wow-delay=".9s">It will be up and running soon.</p>
                    <a href="index.html" class="btn btn-dafault btn-home wow fadeInUp animated" data-wow-delay="1.1s">Back Home</a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
 
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">WANT TO JOIN THE FOUR P<i class="ion-ios-paw-outline"></i>WS FAMILY?</h1>
                    <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Any questions or queries fell free to conact us.<br>To make a booking follow the link below and send your suggested time.</p>
                    <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Get in Contact With me</a>
                </div>
            </div>
            
        </div>
    </div>
</section>