<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Terms and conditions</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="active">Terms and conditions</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>   
</section><!--/#page-header-->

<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="subtitle wow">Terms and conditions</h2>
                </div>
                <br>
                <div class="block">
                    <h3>Tick prevention required.</h3>
                    <p>Due to the fact the we are in an area prone to ticks. All dogs must have tick prevention to ensure they're own saftey.</p>
                </div>
                <div class="block">
                    <h3>Vaccinations status required.</h3>
                    <p>As we regularly use the outdoors for our sessions vaccinations are a must and certificates will be required upon request.</p>
                </div>
                <div class="block">
                    <h3>Collar and / or harness.</h3>
                    <p>All dogs must be wearing a suitable collar and / or harness which is to be provided by the owner. Four paws will use their own leads.</p>
                </div>
                <div class="block">
                    <h3>Veterinary advice.</h3>
                    <p>We work closely with your local veterinarians and veterinary advice is recommended for any dogs suffering arthritis or injury before procceding, and maybe necessary throught out. Regular checkups are the best way to ensure your pet has the best outcome.</p>
                </div>
            </div>
        </div>
    </div>
</section>